<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestige Urbane</title>
</head>
<body>
    <!-- Your content goes here -->

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">
                        We are committed to sustainability and ethical practices. Prestige Urbane sources materials responsibly and partners with manufacturers who uphold fair labor standards. We aim to make a positive impact on the fashion industry by promoting eco-friendly practices and supporting communities.<br><br>
                        Join the Prestige Urbane community and elevate your wardrobe with stylish, high-quality clothing that makes a statement. Follow us on social media to stay updated on the latest arrivals, fashion tips, and exclusive offers.<br><br>
                        Thank you for choosing Prestige Urbane. We look forward to being a part of your fashion journey.
                    </p>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Android</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">About Us</a></li>
                        <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
                        <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>