<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestige Urbane</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">
            <img src="{% static 'image/logo1.png' %}" alt="Your Website Logo">
        </a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                </li>
                <li class="nav-item">
                    <a class="{% url 'home' %}" href="#home"><i class="fas fa-tachometer-alt"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="{% url 'Services' %}"" href="#services"><i class="far fa-address-book"></i>Services</a>
                </li>
                <li class="nav-item">
                    <a class="{% url 'Pricing' %}" href="#pricing"><i class="far fa-clone"></i>Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="{% url 'About' %}" href="#about"><i class="far fa-calendar-alt"></i>About</a>
                </li>
                <li class="nav-item">
                    <a class="{% url 'Contact' %}" href="#contact"><i class="far fa-chart-bar"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>